@import "/src/mixins.scss";

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  max-width: 485px;

  margin-bottom: 20px;

  font-weight: 800;
  font-size: 86px;
  line-height: 106px;
  /* or 123% */

  letter-spacing: 2.64px;

  color: #21264f;
}

.hero__subtitle {
  max-width: 445px;

  margin-bottom: 50px;

  font-size: 32px;
  line-height: 38px;
  /* or 120% */

  color: #21264f;
}

.hero__button {
  @include button;

  width: 247px;
}

.hero__req-demo {
  font-weight: 800;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 170% */

  color: #21264f;
}

.hero__cta-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
