@import "/src/mixins.scss"; // import of the mixins

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;

  padding-top: 15px;
  margin-bottom: 100px !important; // important due to container class

  font-size: 18px;
  line-height: calc(22 / 18);
}

header a {
  transition: color 350ms ease;
  color: #3d455c;

  &:hover {
    color: #0040ff;
  }
}

header ul {
  display: flex;
  align-items: center;
  gap: 45px;

  padding-left: 135px;

  & li {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
}

.signup {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 135px;
}
.signup .login-text {
  font-weight: 800;

  cursor: pointer;
  color: #3d455c;
}
.signup button {
  @include button;
  
}
